{% extends "base.html" %}

{% block page_name %}
    home
{% endblock page_name %}

{% block content %}
    {% for room in Page.object_list %}
        <h4>{{room.name}} / ${{room.price}}</h4>
    {% endfor %}

    <h5>
        {% if Page.has_previous %}
            <a href="?page={{Page.previous_page_number}}">이전</a>
        {% endif %}
        
        Page {{Page.number}} of {{Page.paginator.num_pages}}

        {% if Page.has_next %}
            <a href="?page={{Page.next_page_number}}">다음</a>        
        {% endif %}
        
        <br>
        {% for page in Page.paginator.page_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}

    </h5>
    
{% endblock content %}

