{% extends "base.html" %}

{% block page_title %}
    home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto mt-32 mb-20 rounded-xl bg-gray-600 w-full h-50vh rounded-lg bg-cover bg-center" style="background-image: url(https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-1/p480x480/67822857_481016259128447_4356658715886092288_n.jpg?_nc_cat=104&_nc_ohc=t0l4NOT3-fUAX_78D5N&_nc_ht=scontent-gmp1-1.xx&_nc_tp=6&oh=17a404cc7b3750c70e58b022aa522437&oe=5EFA8245);">
        
    </div>

    {% for room in rooms %}
        <h3>
            <a href="{% url "rooms:detail" room.pk %}">
                {{room.name}} / ${{room.price}}</h3>
            </a>
    {% endfor %}
    <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">이전</a>
        {% endif %}
        
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">다음</a>        
        {% endif %}
        
        <br>
        {% for page in page_obj.paginator.page_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}

    </h5>
    
{% endblock content %}

