{% extends "base.html" %}

{% block page_name %}
    home
{% endblock page_name %}

{% block content %}
    {{now}}

    {% for room in rooms %}
        <h3>
            <a href="{% url "rooms:detail" room.pk %}">
                {{room.name}} / ${{room.price}}</h3>
            </a>
    {% endfor %}
    <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">이전</a>
        {% endif %}
        
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">다음</a>        
        {% endif %}
        
        <br>
        {% for page in page_obj.paginator.page_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}

    </h5>
    
{% endblock content %}

