{% extends "base.html" %}

{% block page_title %}
  프로필 수정
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}

{% block content %}
  <div class="container mx-auto py-10 px-6 mt-32 mb-10 flex flex-col items-center border border-gray-300 md:w-1/2 lg:w-5/12 xl:w-4/12">

    {% include "mixins/auth/auth_form.html" with form=form cta="프로필 수정" %}

    <div class="mt-4">
      {% if object.login_method == "email" %}
        <a href="{% url 'users:update-password' %}" class="font-bold text-teal-600">비밀번호 변경</a>
      {% else %}
        <span>{{object.login_method}}로 로그인하였네요?</span>
      {% endif %}
    </div>
  </div>

{% endblock content %}